/* line 2, ../sass/_overviewer.sass */
.overviewWS .imgViewer {
  display: inline-block;
  float: left;
  padding: 0px;
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 65%; }
  /* line 10, ../sass/_overviewer.sass */
  .overviewWS .imgViewer div {
    overflow: hidden; }
  /* line 12, ../sass/_overviewer.sass */
  .overviewWS .imgViewer .smallImgsContainer {
    display: inline-block;
    float: left;
    height: 100%;
    width: 18%;
    overflow-y: auto;
    max-width: 300px; }
    /* line 19, ../sass/_overviewer.sass */
    .overviewWS .imgViewer .smallImgsContainer .imgView {
      display: block;
      cursor: pointer;
      float: left;
      margin: 3px;
      background-color: whitesmoke;
      text-align: center;
      width: 135px; }
      /* line 27, ../sass/_overviewer.sass */
      .overviewWS .imgViewer .smallImgsContainer .imgView.active {
        background-color: #993300; }
  /* line 29, ../sass/_overviewer.sass */
  .overviewWS .imgViewer .bigImgContainer {
    display: inline-block;
    text-align: center;
    width: 82%; }
    /* line 33, ../sass/_overviewer.sass */
    .overviewWS .imgViewer .bigImgContainer img {
      margin-top: 15px; }
  /* line 35, ../sass/_overviewer.sass */
  .overviewWS .imgViewer img {
    display: inline-block;
    background: transparent;
    margin: 5px; }
/* line 39, ../sass/_overviewer.sass */
.overviewWS .descriptionContainer {
  overflow: hidden;
  overflow-y: auto;
  float: right;
  right: 0px;
  position: absolute;
  height: 100%;
  width: 33%; }
  /* line 47, ../sass/_overviewer.sass */
  .overviewWS .descriptionContainer h1 {
    padding-left: 1%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 24px; }
    /* line 52, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer h1 a {
      text-decoration: none;
      color: #034b83; }
    /* line 55, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer h1 span.price {
      color: #993300;
      font-size: 34px;
      padding-left: 10px; }
    /* line 59, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer h1 span {
      font-size: 23px;
      color: grey; }
    /* line 62, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer h1 span.date {
      font-size: 16px;
      padding-left: 10px;
      color: grey; }
  /* line 66, ../sass/_overviewer.sass */
  .overviewWS .descriptionContainer p {
    font-size: 14px;
    margin-left: 10px;
    padding-right: 20px; }
  /* line 70, ../sass/_overviewer.sass */
  .overviewWS .descriptionContainer h2 {
    font-size: 20px;
    margin-bottom: 0px;
    color: grey; }
    /* line 74, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer h2 p {
      font-size: 16px; }
  /* line 76, ../sass/_overviewer.sass */
  .overviewWS .descriptionContainer ul {
    list-style: none;
    display: inline-table;
    margin: 0px;
    padding: 10px;
    width: 90%; }
    /* line 82, ../sass/_overviewer.sass */
    .overviewWS .descriptionContainer ul li {
      display: table-row;
      margin: 0px;
      height: auto; }
      /* line 86, ../sass/_overviewer.sass */
      .overviewWS .descriptionContainer ul li h3, .overviewWS .descriptionContainer ul li h4 {
        display: table-cell;
        overflow: hidden;
        font-size: 13px;
        padding: 0px;
        padding-bottom: 5px; }
      /* line 92, ../sass/_overviewer.sass */
      .overviewWS .descriptionContainer ul li h3 {
        color: #666666; }

/* line 4, ../sass/_evaluator.sass */
.evaluator {
  display: inline-block;
  list-style: none;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  padding: 0px;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 14px;
  width: auto; }
  /* line 15, ../sass/_evaluator.sass */
  .evaluator > li:first-child > ul {
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 10px; }
  /* line 19, ../sass/_evaluator.sass */
  .evaluator li.item {
    display: inline;
    padding: 0px;
    width: auto; }
    /* line 23, ../sass/_evaluator.sass */
    .evaluator li.item ul {
      list-style: none; }
      /* line 25, ../sass/_evaluator.sass */
      .evaluator li.item ul li {
        display: inline-block;
        border-radius: 15px;
        text-align: center;
        position: relative;
        margin-bottom: 5px; }
        /* line 31, ../sass/_evaluator.sass */
        .evaluator li.item ul li.better {
          background-color: mediumslateblue;
          color: whitesmoke; }
        /* line 34, ../sass/_evaluator.sass */
        .evaluator li.item ul li span {
          display: inline-block;
          width: 200px; }
        /* line 37, ../sass/_evaluator.sass */
        .evaluator li.item ul li h5.starsNumber {
          display: block;
          background-color: whitesmoke;
          color: red;
          position: absolute;
          bottom: 0px;
          font-size: 24px;
          right: 6px;
          opacity: 0.9;
          padding: 5px;
          margin: 0px; }
        /* line 48, ../sass/_evaluator.sass */
        .evaluator li.item ul li button {
          border: none;
          display: block;
          cursor: pointer;
          background-color: black;
          color: whitesmoke;
          border-radius: 20px;
          font-weight: bold;
          position: absolute;
          right: 5px;
          opacity: 0.8; }
          /* line 59, ../sass/_evaluator.sass */
          .evaluator li.item ul li button:active {
            background-color: white;
            color: black; }
      /* line 62, ../sass/_evaluator.sass */
      .evaluator li.item ul .disabledFieldsList {
        float: left;
        text-align: left; }
        /* line 65, ../sass/_evaluator.sass */
        .evaluator li.item ul .disabledFieldsList span {
          display: block;
          width: 250px; }
        /* line 68, ../sass/_evaluator.sass */
        .evaluator li.item ul .disabledFieldsList ul {
          display: block;
          color: grey;
          float: left;
          overflow-x: hidden;
          overflow-y: auto;
          margin: 0;
          max-height: 90px;
          padding: 0;
          width: 80%; }
          /* line 78, ../sass/_evaluator.sass */
          .evaluator li.item ul .disabledFieldsList ul li {
            display: block;
            text-align: left;
            float: left;
            font-size: 12px;
            color: grey;
            width: 100%; }
            /* line 85, ../sass/_evaluator.sass */
            .evaluator li.item ul .disabledFieldsList ul li:hover {
              cursor: pointer;
              color: mediumslateblue;
              font-size: 15px; }
      /* line 89, ../sass/_evaluator.sass */
      .evaluator li.item ul li.fieldName {
        text-align: left;
        background-color: white; }
        /* line 92, ../sass/_evaluator.sass */
        .evaluator li.item ul li.fieldName:hover {
          color: red;
          cursor: pointer; }
          /* line 95, ../sass/_evaluator.sass */
          .evaluator li.item ul li.fieldName:hover span {
            text-decoration: line-through; }
        /* line 97, ../sass/_evaluator.sass */
        .evaluator li.item ul li.fieldName span {
          width: 250px; }

/* line 5, ../sass/workspaces.sass */
.wsSwitcher {
  display: block;
  background: url(../gfx/icon.png) no-repeat;
  height: 30px;
  width: 30px; }

/* line 11, ../sass/workspaces.sass */
.wsCollector {
  display: block;
  background-color: #330033;
  position: fixed;
  opacity: 0.8; }
  /* line 16, ../sass/workspaces.sass */
  .wsCollector.wsHidden {
    display: none; }
  /* line 18, ../sass/workspaces.sass */
  .wsCollector.top {
    height: 80px;
    top: -80px;
    left: 30%;
    width: 40%;
    border-radius: 0px 0px 100% 100%; }
  /* line 24, ../sass/workspaces.sass */
  .wsCollector.right {
    border-radius: 100% 0px 0px 100%;
    right: -80px;
    top: 30%;
    height: 40%;
    width: 80px; }
  /* line 30, ../sass/workspaces.sass */
  .wsCollector.left {
    border-radius: 0px 100% 100% 0px;
    top: 30%;
    left: -80px;
    height: 40%;
    width: 80px; }

/* line 37, ../sass/workspaces.sass */
.wsWorkspace {
  display: inline-block;
  background-color: red;
  height: 100%;
  position: fixed;
  opacity: 0.9;
  width: 100%; }
  /* line 44, ../sass/workspaces.sass */
  .wsWorkspace.top {
    background-color: black;
    top: -100%;
    left: 0px; }
  /* line 48, ../sass/workspaces.sass */
  .wsWorkspace.right {
    background-color: red;
    right: -100%;
    top: 0px; }
  /* line 52, ../sass/workspaces.sass */
  .wsWorkspace.left {
    background-color: whitesmoke;
    left: -100%;
    top: 0px; }
    /* line 56, ../sass/workspaces.sass */
    .wsWorkspace.left button.close {
      background-color: black;
      color: red;
      position: absolute;
      top: 20px;
      right: 40px;
      z-index: 999; }
