/* line 1, ../sass/workspaces.sass */
body {
  background-color: yellow;
  color: white;
  overflow: hidden; }

/* line 6, ../sass/workspaces.sass */
a {
  color: white; }

/* line 11, ../sass/workspaces.sass */
.wsSwitcher {
  display: block;
  background: url(../gfx/icon.png) no-repeat;
  height: 30px;
  width: 30px; }

/* line 17, ../sass/workspaces.sass */
.wsCollector {
  display: block;
  background-color: #330033;
  position: fixed;
  opacity: 0.8; }
  /* line 22, ../sass/workspaces.sass */
  .wsCollector.wsHidden {
    display: none; }
  /* line 24, ../sass/workspaces.sass */
  .wsCollector.top {
    height: 50px;
    top: -50px;
    left: 0px;
    width: 100%; }
  /* line 29, ../sass/workspaces.sass */
  .wsCollector.right {
    right: -50px;
    top: 50px;
    height: 100%;
    width: 50px; }
  /* line 34, ../sass/workspaces.sass */
  .wsCollector.left {
    top: 50px;
    left: -50px;
    height: 100%;
    width: 50px; }

/* line 40, ../sass/workspaces.sass */
.wsWorkspace {
  display: inline-block;
  background-color: red;
  height: 1000px;
  position: fixed;
  opacity: 0.9;
  width: 100%; }
  /* line 47, ../sass/workspaces.sass */
  .wsWorkspace.top {
    background-color: black;
    top: -1500px;
    left: 0px; }
  /* line 51, ../sass/workspaces.sass */
  .wsWorkspace.right {
    background-color: red;
    right: -1500px;
    top: 0px; }
  /* line 55, ../sass/workspaces.sass */
  .wsWorkspace.left {
    background-color: pink;
    left: -1500px;
    top: 0px; }
