body
    width: 100%
    height: 1000px

.evaluator
    display: block
    background-color: black
    list-style: none
    height: 100%
    width: 100%
    ul
        float: left
        list-style: none
        padding: 0px
        li
            padding: 0px
    li.fields ul
        display: block
        background-color: grey
        overflow: hidden
        color: white
        height: 100%
        width: 100%
        &.fieldsList
            float: left
            width: 20%
        &.item
            display: inline
            float: right
            width: 26.666%
        li
            padding-left: 10px
            margin-bottom: 10px
            border-bottom: 1px solid white
        li:first-child
            height: 120px