$better_color: mediumslateblue
$white_smoke_color: whitesmoke

.evaluator
    display: inline-block
    list-style: none
    margin: auto
    text-align: center
    white-space: nowrap
    padding: 0px
    padding-top: 10px
    padding-right: 20px
    font-size: 14px
    width: auto
    > li:first-child > ul
        padding-bottom: 10px
        border-bottom: 1px solid $white_smoke_color
        margin-bottom: 10px
    li.item
        display: inline
        padding: 0px
        width: auto
        ul
            list-style: none
            li
                display: inline-block
                border-radius: 15px
                text-align: center
                position: relative
                margin-bottom: 5px
                &.better
                    background-color: $better_color
                    color: $white_smoke_color
                span
                    display: inline-block
                    width: 200px
                h5.starsNumber
                    display: block
                    background-color: $white_smoke_color
                    color: red
                    position: absolute
                    bottom: 0px
                    font-size: 24px
                    right: 6px
                    opacity: 0.9
                    padding: 5px
                    margin: 0px
                button
                    border: none
                    display: block
                    cursor: pointer
                    background-color: black
                    color: $white_smoke_color
                    border-radius: 20px
                    font-weight: bold
                    position: absolute
                    right: 5px
                    opacity: 0.8
                    &:active
                        background-color: white
                        color: black
            .disabledFieldsList
                float: left
                text-align: left
                span
                    display: block
                    width: 250px
                ul
                    display: block
                    color: $secondary_text_color
                    float: left
                    overflow-x: hidden
                    overflow-y: auto
                    margin: 0
                    max-height: 90px
                    padding: 0
                    width: 80%
                    li
                        display: block
                        text-align: left
                        float: left
                        font-size: 12px
                        color: $secondary_text_color
                        width: 100%
                        &:hover
                            cursor: pointer
                            color: $better_color
                            font-size: 15px
            li.fieldName
                text-align: left
                background-color: white
                &:hover
                    color: red
                    cursor: pointer
                    span
                        text-decoration: line-through
                span
                    width: 250px
