.evaluator
    display: inline-block
    list-style: none
    margin: auto
    text-align: center
    white-space: nowrap
    width: auto
    li:first-child > ul
        margin-bottom: 10px
    li.item
        display: inline
        padding: 0px
        width: auto
        ul
            list-style: none
            li
                display: inline
                text-align: left
                span
                    display: inline-block
                    margin-bottom: 5px
                    width: 200px
            li:first-child
                span
                    width: 250px
