@import "_variables"
@import "_overviewer"
@import "_evaluator"

.wsSwitcher
    display: block
    background: url(../gfx/icon.png) no-repeat
    height: 30px
    width: 30px

.wsCollector
    display: block
    background-color: $ws_collector_background
    position: fixed
    opacity: $ws_collector_opacity
    &.wsHidden
        display: none
    &.top
        height: $ws_collector_height_top
        top: $ws_collector_top_top
        left: $ws_collector_left_top
        width: $ws_collector_width_top
        border-radius: 0px 0px 100% 100%
    &.right
        border-radius: 100% 0px 0px 100%
        right: $ws_collector_right_right
        top: $ws_collector_top_right
        height: $ws_collector_height_right
        width: $ws_collector_width_right
    &.left
        border-radius: 0px 100% 100% 0px
        top: $ws_collector_top_left
        left: $ws_collector_left_left
        height: $ws_collector_height_left
        width: $ws_collector_width_left

.wsWorkspace
    display: inline-block
    background-color: red
    height: $ws_height
    position: fixed
    opacity: $ws_opacity
    width: $ws_width
    &.top
        background-color: black
        top: -$ws_height
        left: 0px
    &.right
        background-color: red
        right: -$ws_width
        top: 0px
    &.left
        background-color: whitesmoke
        left: -$ws_width
        top: 0px
        button.close
            background-color: black
            color: red
            position: absolute
            top: 20px
            right: 40px
            z-index: 999