body
    background-color: black
    color: white

a
    color: white

.wsCollector
    display: block
    background-color: #330033
    position: absolute
    top: 0px
    left: 0px
    height: 80px
    width: 100%
    opacity: 0.6
    &.wsHidden
        display: none