body
    background-color: yellow
    color: white
    overflow: hidden

a
    color: white

.wsSwitcher
    display: block
    background: url(../gfx/icon.png) no-repeat
    height: 30px
    width: 30px

.wsCollector
    display: block
    background-color: #330033
    position: absolute
    height: 50px
    opacity: 0.8
    &.wsHidden
        display: none
    &.top
        top: 0px
        left: 0px
        width: 100%
    &.right
        right: 0px
        top: 50px
        height: 1000px
        width: 50px
    &.left
        top: 50px
        left: 0px
        height: 100%
        width: 50px

.wsWorkspace
    display: inline-block
    background-color: red
    height: 1000px //height of a screen
    position: absolute
    opacity: 0.9
    width: 100%
    &.top
        background-color: black
        top: -1500px //should be a height of a screen
        left: 0px
    &.right
        background-color: red
        right: -1500px //should be a width of a screen
        top: 0px
    &.left
        background-color: pink
        left: -1500px //should be a width of a screen
        top: 0px