<!DOCTYPE html>
<html>

<head>
    <title>Workspaces</title>

    <link rel="stylesheet" type="text/css" href="../css/workspaces.css">

    <meta charset="utf-8"/>

    <link rel="stylesheet" href="../css/workspaces.css"/>
</head>

<body>
<script type="javascript/template" id="imgGallery">
    <div class="smallImgsContainer">
        <% _.each(getImgsLinks(), function (link, ind) { %>
        <div class="imgView <% if (ind === model.get('activeImgIndx')) { %>active<% } %>" >
            <img id="<%= ind %>" src="<%= link %>" alt="" />
        </div>
        <% }); %>
    </div>

    <div class="bigImgContainer"></div>
</script>

<script type="javascript/template" id="description">
    <h1>
        <a href="<%= get('itemLink') %>"><%= get("itemTitle") %></a>
        <span class="price"><%= get('minPrice') %></span> -
        <span><%= get('maxPrice') %></span>
        <span class="date"><%= get('doDate') %></span>
    </h1>

    <p>
        <%= get('summary') %>
    </p>

    <h2>Технические характеристики</h2>

    <ul>
        <% _.each(get('detailsData'), function (detail) { %>
        <li>
            <h3><%= detail.name %></h3>
            <h4><%= detail.value %></h4>
        </li>
        <% }); %>
    </ul>
</script>

<script type="text/template" id="list-view-tpl">
    <% _.each(attributes, function (fields) { %>
        <li class="item">
            <ul>
                <% _.each(fields, function (field, index) { %>
                <% if (index === 0 && field.type !== 'picture') { %>
                    <li class="fieldName">
                        <span id="<%= field.type %>"><%= field.fieldName %></span>
                    </li>
                <% } %>
                <% if (field.type === 'picture') { %>
                <% if (index === 0) { %>
                    <li class="disabledFieldsList"></li>
                <%}%>
                    <li>
                        <button id="<%= field.itemId %>">X</button>
                        <h5 class="starsNumber"><%= field.betterCount %></h5>
                        <span>
                            <img src="<%= field.value %>" alt=""/>
                        </span>
                    </li>
                <% } else { %>
                    <li <% if (field.isBetter) {%>class="better"<% } %>>
                        <span><%= field.value %></span>
                    </li>
                <% } %>
        <% }); %>
        </ul>
        </li>
    <% }); %>
</script>

<script type="text/template" id="disabled-view-tpl">
    <h3>Disabled fields:</h3>
    <ul>
        <% _.each(this.collection.models, function (model) { %>
        <li id="<%= model.get('type') %>"><%= model.get('name') %></li>
        <% }); %>
    </ul>
</script>

<h1>Hello!</h1>

<img src="../gfx/iphone.jpg" data-item-id="1" />

<hr/>

<a href="#" class="wsSwitcher"></a>


<script src="../lib/jquery-1.9.1.js"></script>
<script src="../lib/underscore-1.5.2.js"></script>
<script src="../lib/backbone-1.1.js"></script>
<script src="../lib/deparam-1.0.js"></script>

<script type="text/javascript" src="mockjax-lib.js"></script>
<script type="text/javascript" src="mocks.js"></script>


<script src="../js/evaluator/evaluator.js"></script>
<script src="../js/evaluator/eval-item-model.js"></script>
<script src="../js/evaluator/eval-items-collection.js"></script>
<script src="../js/evaluator/eval-collection.js"></script>
<script src="../js/evaluator/disabled-fields-collection.js"></script>
<script src="../js/evaluator/disabled-fields-view.js"></script>
<script src="../js/evaluator/eval-list-view.js"></script>

<script type="text/javascript" src="../js/overviewer/overviewer.js"></script>
<script type="text/javascript" src="../js/overviewer/overviewer-model.js"></script>
<script type="text/javascript" src="../js/overviewer/images-view.js"></script>
<script type="text/javascript" src="../js/overviewer/description-view.js"></script>
<script type="text/javascript" src="../js/overviewer/active-img-view.js"></script>

<script src="../js/workspaces.js"></script>
<script src="../js/controllers/workspace-controller.js"></script>
<script src="../js/controllers/dragging-controller.js"></script>
<script src="../js/views/collector-view.js"></script>
<script src="../js/views/workspace-view.js"></script>
<script src="../js/models/workspace-model.js"></script>
<script src="../js/controllers/switcher-controller.js"></script>
<script src="../js/models/workspaces-state-model.js"></script>
<script src="../js/controllers/workspaces-controller.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        window.Workspaces = new Workspaces();

        Backbone.history.start();
    });
</script>

</body>

</html>